<h1>Tạo danh mục mới</h1>
<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>

     <tr>
      <td>Area:</td>
      <td><input type="number" formControlName="area"></td>
    </tr>

     <tr>
      <td>Gdp:</td>
      <td><input type="number" formControlName="gdp"></td>
    </tr>
     <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
     <tr>
      <td>Population:</td>
      <td><input type="number" formControlName="population"></td>
    </tr>
    <tr>
      <td>Country:</td>
      <div formGroupName="country">
      <select name="country" formControlName="id">
        <option  *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      </div>
    </tr>
    <tr>
      <td></td>
      <td>
        <button>Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
