<h1>XOA THANH PHO</h1>
<form [formGroup]="cityForm" (ngSubmit)="deleteCity(id)">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>AREA:</td>
      <td><input type="number" formControlName="area"></td>
    </tr>
    <tr>
      <td>POPULATION:</td>
      <td><input type="text" formControlName="population"></td>
    </tr>
    <tr>
      <td>GDP:</td>
      <td><input type="text" formControlName="gdp"></td>
    </tr>

    <tr>
      <td></td>
      <td><button>Delete</button></td>
    </tr>
  </table>
</form>
